<?xml version="1.0"?>
<SkinTemplates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
		Note that multiple skins may share the same template folder.
		Each template folder by default should have a style.css file.
		This file does not need to be configured in this section.

		For skins that share a template folder, the skins should be
		distinguished by their stylesheet.  Note that when specifying
		a StyleSheet="" attribute, this style is rendered AFTER "style.css"
		allowing the skin to override template specific styles.
	-->
    <Skins>
			<SkinTemplate Name="LazyDays" TemplateFolder="lazydays">
            <Scripts>
                <Script Src="~/scripts/prototype.js" />
                <Script Src="~/scripts/scriptaculous.js?load=effects" />
                <Script Src="~/scripts/lightbox.js" Defer="true" />
                <!--<Script Src="~/scripts/LiveCommentPreview.js" Defer="true" />-->
                <Script Src="~/scripts/XFNHighlighter.js" Defer="true" />
                <Script Src="~/scripts/tableEffects.js" Defer="true" />
            </Scripts>
            <Styles>
                <Style href="~/skins/_System/commonstyle.css" />
                <Style href="~/skins/_System/commonlayout.css" />
                <Style href="~/scripts/XFNHighlighter.css" />
                <Style href="~/scripts/lightbox.css" media="screen"/>
				        <Style href="layout.css" />
				        <Style href="csharp.css" />
                <Style href="print.css" media="print" />
                <Style href="ie-hacks.css" conditional="if ie" />
            </Styles>
        </SkinTemplate>
    </Skins>
</SkinTemplates>
