<?xml version="1.0" encoding="utf-8" ?>
<SkinTemplates>
    <SkinTemplate Name="Lazydays" StyleMergeMode="MergedAfter">
        <Styles>
          <Style href="~/skins/_System/commonstyle.css" />
          <Style href="~/skins/_System/commonlayout.css" />
          <Style href="~/scripts/XFNHighlighter.css" />
          <Style href="~/scripts/lightbox.css" media="screen"/>
          <Style href="layout.css" />
          <Style href="csharp.css" />
          <Style href="print.css" media="print" />
          <Style href="ie-hacks.css" conditional="if ie" />
        </Styles>
      <Scripts>
        <Script Src="~/scripts/prototype.js" />
        <Script Src="~/scripts/scriptaculous.js?load=effects" />
        <Script Src="~/scripts/lightbox.js" Defer="true" />
        <!--<Script Src="~/scripts/LiveCommentPreview.js" Defer="true" />-->
        <Script Src="~/scripts/XFNHighlighter.js" Defer="true" />
        <Script Src="~/scripts/tableEffects.js" Defer="true" />
      </Scripts>
    </SkinTemplate>
</SkinTemplates>